*/node_modules/
*/.idea
visapp/public/js/bower_components/

.idea/.name


.idea/code_vis2016_graphvis.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

visapp/community_kmeans.json

visapp/detail_kmeans.json
