<!DOCTYPE html>
<html ng-app="core">
<head>
    <title>Express</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/js/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/js/bower_components/angularMultipleSelect/build/multiple-select.css">
    <script src="js/bower_components/angular/angular.js"></script>
    <script src="js/bower_components/angular-route/angular-route.js"></script>
    <script src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/bower_components/d3/d3.js"></script>
    <script src="js/bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bower_components/colorbrewer/colorbrewer.js"></script>
    <script src="js/bower_components/angularMultipleSelect/build/multiple-select.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/box.js"></script>
    <script src="js/config.js"></script>
    <script src="js/tip.js"></script>
    <script src="js/app.js"></script>
    <script src="js/shvis/shvis.module.js"></script>
    <script src="js/shvis/directives/shvis.directive.js"></script>
    <script src="js/shvis/controllers/shvis.controller.js"></script>
    <script src="js/shvis/services/shvis.service.js"></script>
    <script src="js/shvis/services/detailview.service.js"></script>
    <script src="js/shvis/services/loader.service.js"></script>
    <script src="js/shvis/services/pip.service.js"></script>
    <script src="js/shvis/services/fuzzy.service.js"></script>
    <script src="js/shvis/services/mfs.service.js"></script>
    <script src="js/shvis/services/feature.service.js"></script>
    <script src="js/shvis/services/heatmap.service.js"></script>

    <script src="js/shvis/directives/test.directive.js"></script>
    <script src="js/shvis/directives/topk.directive.js"></script>
    <script src="js/shvis/controllers/test.controller.js"></script>
    <script src="js/shvis/controllers/topk.controller.js"></script>



    <script src="js/shvis/directives/cluster.directive.js"></script>
    <script src="js/shvis/controllers/cluster.controller.js"></script>
    <script src="js/shvis/services/cluster.service.js"></script>

    <script src="js/shvis/directives/rank.directive.js"></script>
    <script src="js/shvis/controllers/rank.controller.js"></script>
    <script src="js/shvis/services/rank.service.js"></script>

    <script src="js/shvis/directives/detail.directive.js"></script>
    <script src="js/shvis/controllers/detail.controller.js"></script>
    <script src="js/shvis/services/detail.service.js"></script>

    <script src="js/shvis/directives/information.directive.js"></script>
    <script src="js/shvis/controllers/information.controller.js"></script>
    <script src="js/shvis/services/information.service.js"></script>

    <script src="js/shvis/directives/query.directive.js"></script>
    <script src="js/shvis/controllers/query.controller.js"></script>

    <script src="js/shvis/directives/control.directive.js"></script>
    <script src="js/shvis/controllers/control.controller.js"></script>

    <script src="js/shvis/controllers/fuzzytest.controller.js"></script>


</head>
<body>
<div ng-view></div>
</body>
</html>