<div id="search_panel" class="panel panel-default" style="position:relative">
    <div id="search_tag" class="system_title">
        <img src="../../../image/title.png" style="width:290px; height:80px;">
    </div>
    <div id="search_condition"  class="panel-body">
        <div class="panel_left_title" style="margin-top: 0">Time</div>
            <div class="row">
                <div class="col-md-6 ">
                    <p class="input-group">
                        <input type="text" class="form-control search_input time_input_left" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="range1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <!--<img src="../../../image/line.png" />-->
                                <button type="button" class="btn btn-default search_input time_input_right"  ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>

                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control search_input time_input_left" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="range2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default search_input time_input_right" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
            </div>
        <div class="panel_left_title">Name</div>
            <div class="row form-group">
                <div class="col-md-12">
                    <!--<input id="search_condition_name" type="text" ng-model="inputName" uib-typeahead="name for name in names | filter:$viewValue | limitTo:8" class="form-control">-->
                    <multiple-autocomplete ng-model="inputName" suggestions-arr="names"></multiple-autocomplete>

                </div>
            </div>
        <div class="panel_left_title">Rank Range</div>
            <div class="row form-group">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control search_input" style="width: 115px; " ng-model="rankRange1"/>
                        </p>
                    </div>

                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control search_input" style="width: 115px;margin-left: -5px"  ng-model="rankRange2"/>
                    </p>
                </div>
            </div>

        <button type="button" class='btn btn-default search_input_btn ' ng-click="search()" id="search_button">Search</button>

        <div class="panel_left_title" style="margin-top: 15px" >Result</div>
        <uib-accordion uib-collapse="{{results.length > 0}}" >
            <uib-accordion-group class="resulttable" ng-repeat="res in results" heading="{{res.name}}" ng-mouseover="mouseOver(res.name)" ng-mouseout="mouseOver('')">
                <!--<table>-->
                    <!--<tr>-->
                        <!--<td>Year</td>-->
                        <!--&lt;!&ndash;<td>{{data.time + " " + 'mean rank'}}</td>&ndash;&gt;-->
                        <!--<td><div class="spandiv">-->
                            <!--<img src="../../../image/line.png" />-->
                        <!--</div></td>-->
                        <!--<td>Mean Rank</td>-->
                    <!--</tr>-->
                    <!--<tr ng-repeat="data in res.data">-->
                        <!--&lt;!&ndash;<button ng-controller="informationController" ng-mouseover="onScreen($event)" ng-init="count=0">&ndash;&gt;-->
                        <!--&lt;!&ndash;Increment (when mouse is over)&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;count: {{count}}&ndash;&gt;-->
                        <!--<td>{{data.time + "  "}}</td>-->
                        <!--&lt;!&ndash;<td>{{data.time + " " + 'mean rank'}}</td>&ndash;&gt;-->
                        <!--<td>-->
                            <!--<div class="spandiv">-->
                                <!--<img src="../../../image/line.png" />-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td>{{"   \t"+data.mean}}</td>-->
                    <!--</tr>-->
                <!--</table>-->
                <div class="row">
                    <div class="col-lg-3">Time</div>
                    <div class="spandiv col-lg-1">
                        <img src="../../../image/line.png" />
                    </div>
                    <div class="col-lg-7">Mean Rank</div>
                </div>
                <div class="row" ng-repeat="data in res.data">
                    <div class="col-lg-3">{{data.time}}</div>
                    <div class="spandiv col-lg-1">
                    <img src="../../../image/line.png" />
                    </div>
                    <div class="col-lg-7">{{data.mean}}</div>
                </div>
            </uib-accordion-group>
        </uib-accordion>

    </div>

    <!--<div class="panel_left_title" style="top:15px">Result</div>-->
    <!--<uib-accordion uib-collapse="{{results.length > 0}}" >-->
        <!--<uib-accordion-group ng-repeat="res in results" heading="{{res.name}}" ng-mouseover="mouseOver(res.name)" ng-mouseout="mouseOver('')">-->
            <!--<table>-->
                <!--<tr ng-repeat="data in res.data">-->
                    <!--&lt;!&ndash;<button ng-controller="informationController" ng-mouseover="onScreen($event)" ng-init="count=0">&ndash;&gt;-->
                        <!--&lt;!&ndash;Increment (when mouse is over)&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;count: {{count}}&ndash;&gt;-->
                    <!--<td>{{data.time + " " + 'mean rank'}}</td>-->
                    <!--<td><div class="spandiv"></div></td>-->
                    <!--<td>{{data.mean}}</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</uib-accordion-group>-->
    <!--</uib-accordion>-->
</div>