
<div class="left" ng-controller="queryController" style="position: absolute;height: 440px;right:22px;z-index:0;">
    <query-view></query-view>
</div>

<div class="right" style="margin-top: -40px;
    margin-left: -20px;">
    <div class="row">
        <div >
            <div style='    position: absolute;
    top: 0px;
    left: 15px;'>
                
<svg width="127px" height="43px" viewBox="15 0 127 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="127" height="42"></rect>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feColorMatrix values="0 0 0 0 0.654901961   0 0 0 0 0.482352941   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="title" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(15.000000, 0.000000)">
        <g id="Rectangle-2">
            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
            <use fill="#FFE8A6" fill-rule="evenodd" xlink:href="#path-1"></use>
        </g>
        <text id="SpannerFinder" font-family="DINAlternate-Bold, DIN Alternate" font-size="18" font-weight="bold" fill="#DE9A14">
            <tspan x="7" y="28">SpannerFinder</tspan>
        </text>
    </g>
</svg>
            </div>
            <div class="panel panel-default topview" style="border: none;
    box-shadow: none;" >
                <div class="panel-heading rankView-heading " style="opacity: 0">Rank View</div>
                <div class="rankView-body">
                    <div >
                        <div class="clusteroverview" ng-controller="clusterController">
                            <div cluster-view >
                                <div id="cluster-heatmap"  style="position:absolute;z-index:0" ></div>
                                <div id="cluster-svg" style="position: absolute"></div>
                                <!--<button type="button" class="btn btn-primary" ng-model="onSelect" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" style="position: absolute">-->
                                    <!--Select Cluster-->
                                <!--</button>-->
                            </div>
                        </div>

                        <div class="clusterselected" ng-controller="clusterController">
                        </div>

                        <div class="clusterrankview" ng-controller="rankController">
                            <div rank-view>
                                <canvas id="heatmap" style="position:absolute"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!--<div class="bottomleft">
            <div class="panel panel-default bottomview"  style="margin-top:10px">
                <div class="" ng-controller="controlController">

                    <control-view></control-view>
                </div>
            </div>
        </div>-->


        <div class="bottomright">
            <div style="    border-top: solid 1px #D8D8D8;
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 758px;"></div>
            <div class="panel panel-default bottomview" style="margin-top:10px;box-shadow: none;border: none;height: 530px">
                <div class="" ng-controller="detailController">
                    <div detail-view>
                        <div id="detail-svg" style="position: relative">

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

